<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Protocol</key>
        <string>s3</string>
        <key>Provider</key>
        <string>lovecloud-idrive-e2-oregon</string>
        <key>Nickname</key>
        <string>IDriveE2-Nexus</string>
        <key>Hostname</key>
        <string>d8v7.or4.idrivee2-73.com</string>
        <key>Port</key>
        <string>443</string>
        <key>Username</key>
        <string></string>
        <key>Path</key>
        <string>/</string>
        <key>Region</key>
        <string>us-west-1</string>
        <key>UUID</key>
        <string>2d87ba89-bcc4-4103-b60a-6734803fbafc</string>
        <key>Comment</key>
        <string>Oregon / nexus IDrive e2. Region-specific Access Key required. Path-style S3. Do not reuse the Virginia key.</string>
    </dict>
</plist>
